
<ul class="ul">
  <li class="li"><a>Korisnici</a></li>
  <li class="li"><a>Agenti</a></li>
  <li class="li"><a>Tipovi smeštaja</a></li>
  <li class="li"><a>Kategorizacija smeštaja</a></li>
  <li class="li"><a>Dodatne usluge</a></li>
  <li class="li"><a>Komentari korisnika</a></li>
</ul>

<div style="text-align: center;margin-top: 30px">
  <button class="button" >Proba 1</button>
  <button class="button">Proba 2</button>
  <button class="button">Proba 3</button>
  <button class="button">Proba 4</button>
</div>
