<div>
  <div style=" display: inline-block;">
    <h1 style="font-size: 50px;margin-left: 50px;margin-bottom: 20px;color: #24478f ">Agent - Booking</h1>
  </div>

  <div style=" display: inline-block;">
    <h1 style="font-size: 50px;margin-bottom: 40px;color: #1a8cff">.com </h1>
  </div>


</div>
<div style="background-color: #24478f;text-align: center">
  <p style="color: white;font-size:50px ">Smestajna jedinica</p>
</div>
<div style="margin-bottom:50px;margin-right: 30%;margin-left: 30%">

  <form [formGroup]="form">

    <div class="form-group">

      <label style="margin-top: 70px">Naziv smestaja:</label>
      <input name="name" class="form-control margin" id="input-name"
             [formControl]="name">
      <small class="form-text error" *ngIf="name.errors?.required && name.touched" style="color: red">
        Naziv je obavezan!
      </small>

      <label style="margin-top:20px">Kategorija smestaja:</label>
      <select class="form-control margin " [formControl]="category"
              style="width: 100%;display: inline-block">
        <option></option>
        <option *ngFor="let category of categories ">{{category.name}}</option>

      </select>

      <label style="margin-top:20px">Grad:</label>
      <select class="form-control margin " [formControl]="city"
              style="width: 100%;display: inline-block">
        <option></option>
        <option *ngFor="let city of cities ">{{city.name}}</option>

      </select>

      <label style="margin-top: 20px">Adresa:</label>
      <input name="address" class="form-control margin" id="input-address"
             [formControl]="address">

      <label style="margin-top:20px">Tip smestajne jedinice:</label>
      <select class="form-control margin " [formControl]="type"
              style="width: 100%;display: inline-block">
        <option></option>
        <option *ngFor="let type of types ">{{type.name}}</option>

      </select>


      <label style="margin-top: 20px">Opis:</label>
      <textarea name="description" class="form-control margin" id="input-description"
                [formControl]="description" style="height: 100px"></textarea>

      <label style="margin-top:20px">Kapacitet:</label>
      <input name="capacity" class="form-control margin" id="input-capacity"
             [formControl]="capacity" style="">
      <small class="form-text error" *ngIf="capacity.errors?.required && capacity.touched" style="color: red">
        Kapacitet je obavezan!
      </small>

      <label style="margin-top:20px">Cena:</label>
      <input name="price" class="form-control margin" id="input-price"
             [formControl]="price">
      <small class="form-text error" *ngIf="price.errors?.required && price.touched" style="color: red">
        Cena je obavezna!
      </small>


      <label style="margin-top:20px">Dodatne usluge:</label>
      <select class="form-control margin " [formControl]="aditional"
              style="margin-bottom: 30px;width: 100%;display: inline-block">
        <option></option>
        <option *ngFor="let s of services ">{{s.name}}</option>

      </select>


      <button class="btn btn-success" style="width: 100%" (click)="confirmClick()" [disabled]="!form.valid">
        {{method_name}}
      </button>
      <button class="btn btn-success" style="width: 100% ; margin-top: 20px" (click)="exit()">ZATVORI</button>

    </div>

  </form>
</div>
