<button class="btn btn-lg btn-dark" (click)="add()">Dodaj tip smeštaja</button><br><br>

<table class="table offset-0 tables" style=" border: 3px solid #008080 ;">
  <tr>
    <th class="th-style">Naziv</th>
    <th class="th-style">Izmena</th>
    <th class="th-style">Brisanje</th>
  </tr>

  <tr *ngFor="let item of typesAccomodation;">
    <td> {{item.name}}</td>
    <td><button class="btn btn-lg btn-dark" (click)="edit(item.id)">Izmeni</button></td>
    <td ><button class="btn btn-lg btn-dark">Obriši</button></td>
  </tr>

</table>
