<p-card [title]="user.username" subtitle="Profile Details" [style]="{width: '360px'}" style.marginTop.px="100"
        styleClass="ui-card-shadow">
  <p-header>
  </p-header>
  <div>
    <p><b>Username: </b>{{user.username}}</p>
    <p><b>Email: </b>{{user.email}}</p>
    <p><b>Password: </b>You can't see password! What are think you are, a boss?</p>
  </div>
  <p-footer>
    <button pButton type="button" label="Edit" icon="fa fa-fw fa-edit" style="margin-right: .25em"
            (click)="showEdit( )"></button>
  </p-footer>
</p-card>

<p-dialog header="Edit account" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [width]="500">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="vin">Email</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="email" [(ngModel)]="updatingUser.email"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Password</label>
      </div>
      <div class="ui-g-8">
        <input type="password" pInputText id="password" [(ngModel)]="updatingUser.password"/>
      </div>
    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

<div *ngIf="voteShow==true" style="text-align: center">
  <h3>Oceni smestaj</h3>
  <p>{{accName}}</p>
  <h2 *ngIf="getVote != null"> Vec ste ocenili smestaj . Hvala.</h2>
  <h3 *ngIf="getVote != null">Vasa ocena je {{getVote.vote}}</h3>
  <div style="margin-left: 40%;margin-right: 40%" *ngIf="getVote == null">
    <form [formGroup]="form">

      <div class="form-group">
        <p style="margin-top: 10px;display: inline-block">Ocena: (1-10)</p>
        <input style="width: 50px;display: inline-block;margin-left: 20px"
               class="form-control margin " [formControl]="vote1">
        <div style="text-align: right;">
          <div style="text-align: center">
            <button (click)="confirmVote()"
                    style="margin-top: 15px;margin-bottom: 15px;text-align: center;background-color: #1a8cff;color: white;height: 30px">
              Oceni
            </button>

          </div>
        </div>
      </div>

    </form>
  </div>
  <button (click)="exit()"
          style="margin-top: 15px;margin-bottom: 15px;text-align: center;background-color: #1a8cff;color: white;height: 30px">
    Nazad
  </button>

</div>

<div style="margin-right: 20%;margin-left: 20%" *ngIf="sendMessage===true">
  <div style="text-align: center">
    <h3>Nova poruka:</h3>
  </div>
  <form [formGroup]="form">

    <div class="form-group">
      <p style="margin-top: 10px;">Primalac: {{accName}}</p>
      <textarea style="width: 100%;margin-top: 20px;height: 100px"
                class="form-control margin " [formControl]="text"></textarea>
      <div style="text-align: right;">
        <button (click)="confirmSendMessage()"
                style="margin-top: 15px;margin-bottom: 15px;text-align: center;background-color: #1a8cff;color: white;height: 30px">
          Posalji poruku
        </button>
        <button (click)="exit()"
                style="margin-top: 15px;margin-bottom: 15px;text-align: center;background-color: #1a8cff;color: white;height: 30px">
          Odustani
        </button>
      </div>
    </div>

  </form>
</div>

<div *ngIf="reservationShow ===true">
  <div style="text-align: center">
    <button style="background: #3399ff;color: white;height: 30px;" (click)="showMessages()">Poruke</button>

  </div>
  <div style="text-align: center">
    <div style="margin-top: 50px;">
      <div style="display: inline-block;width: 30%;text-align: center;margin-right: 30px">
        <h3>Aktivne rezervacije:</h3>
        <div style="margin-top: 20px;border-style: solid;border-width: 2px;border-color: darkgray;"
             *ngFor="let active of activeReservations">
          <br>
          <p>Smestaj:{{active.period.accomodation.name}}</p>
          <p>Od: {{active.period.fromDate}} Do: {{active.period.toDate}}</p>
          <button style="background: #3399ff;color: white;height: 30px"
                  (click)="sendMessageToAgent(active.period.accomodation.agent.id , active.user.id ,active.period.accomodation.name  )">
            Posalji poruku
          </button>
          <button style="background: #3399ff;color: white;height: 30px" (click)="cancleReservation(active.id)">Otkazi
            rezervaciju
          </button>
          <br>
          <br>
        </div>
      </div>


      <div style="display: inline-block;width: 30%;text-align: center;margin-right: 30px">
        <h3>Realizovane rezervacije:</h3>
        <div style="margin-top: 20px;border-style: solid;border-width: 2px;border-color: darkgray;"
             *ngFor="let realized of realizedReservations">
          <br>
          <p>Smestaj:{{realized.period.accomodation.name}}</p>
          <p>Od: {{realized.period.fromDate}} Do: {{realized.period.toDate}}</p>
          <button style="background: #3399ff;color: white;height: 30px"
                  (click)="voteForAccomodation(realized.period.accomodation.name,realized.period.accomodation.id)">Oceni
          </button>

          <button style="background: #3399ff;color: white;height: 30px"
                  (click)="showDialogComment(realized.accomodation)">Dodaj komentar
          </button>
          <br>
          <br>
        </div>
      </div>

    </div>

  </div>


</div>

<p-dialog [(visible)]="displayDialogComment" [responsive]="true" showEffect="fade" [modal]="true"
          [width]="500">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="vin">Comment</label>
      </div>
      <div class="ui-g-8">
        <textarea rows="5" cols="50" pInputTextarea [(ngModel)]="commentText"></textarea><br><br>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" (click)="comment()" label="Lupi komentar" class="ui-button-primary"></button>
    </div>
  </p-footer>
</p-dialog>
