
<p-panel styleClass="panel">
    <p-header>
      <div class="ui-g">
    <div class="ui-g-6">City</div>
    <div class="ui-g-6">Capacity(number)</div>
</div>
<div class="ui-g">
  <div class="ui-g-6"><input [(ngModel)]="city" id="float-input" type="text" size="30" pInputText></div>
    <div class="ui-g-6"><input [(ngModel)]="capacity" type="text" pKeyFilter="int" pInputText></div>
</div>


    </p-header>
      <datepicker  ></datepicker>
    <p-footer>
        <button pButton type="button" [disabled]="capacity <= 0 || city == '' || !datePicker.toDate || !datePicker.fromDate" (click)="find()" label="Find accomodation" class="ui-button-success"></button>
    </p-footer>
</p-panel>
