<button class="btn btn-lg btn-warning" (click)="addAgent()">Dodaj agenta</button>

<br><br>

<table class="table offset-0 tables" style=" border: 3px solid #008080 ;">
  <tr>
    <th class="th-style">Ime</th>
    <th class="th-style">Prezime</th>
    <th class="th-style">Korisničko ime</th>
    <th class="th-style">Lozinka</th>
    <th class="th-style">Adresa</th>
    <th class="th-style">Poslovni matični broj</th>
    <th class="th-style">Brisanje</th>
  </tr>

  <tr *ngFor="let item of agents;">
    <td> {{item.name}}</td>
    <td> {{item.surname}}</td>
    <td> {{item.username}}</td>
    <td> {{item.password}}</td>
    <td> {{item.address}} </td>
    <td> {{item.mbr}} </td>
    <td ><button class="btn btn-lg btn-warning" (click)="removeAgent(item.id)">Obriši</button></td>
  </tr>

</table>
