<div class="offset-1">
  <img src="{{imageRoute}}" class="img" style="height: 200px; margin-left: 500px">
</div>

<div class=" offset-4 col-md-4" style="margin-top:60px;background: #F7F7F7;">

  <form [formGroup]="form">
    <div class="form-group">
      <label style=" font-size: 1.5em;font-weight: bold;margin-top: 30px">Korisničko ime:</label><br>
      <input name="username" class="form-control margin" id="input-username" style="height: 50px"
             placeholder="Unesite korisničko ime" [formControl]="username">
      <small class="form-text error" *ngIf="username.errors?.required && username.touched" style="color: red">
        Korisnicko ime je obavezno!
      </small>

      <label style="margin-top:20px; font-size: 1.5em;font-weight: bold;">Lozinka:</label>
      <br>
      <input name="password" class="form-control margin" type="password" id="input-password" style="height: 50px"
             placeholder="Unesite lozinku" [formControl]="password">
      <small class="form-text error" *ngIf="password.errors?.required && password.touched" style="color: red">
        Lozinka je obavezna!
      </small>

      <br>
      <button class="btn btn" style="width: 100%;margin-top: 20px; font-size: 1.5em;margin-bottom: 30px"
              (click)="confirmClick()" [disabled]="!form.valid">Prijavi se
      </button>

    </div>
  </form>
</div>
