<div style="text-align: center;margin-top: 30px">
  <button class="button" (click)="getAct()">Aktivni korisnici</button>
  <button class="button" (click)="getBlock()">Blokirani korisnici</button>
</div>

<br><br>

<button class="btn btn-lg btn-warning">Dodaj korisnika</button>

<br><br>

<table class="table offset-0 tables" style=" border: 3px solid #008080 ;" *ngIf="!active">
  <tr>
    <th class="th-style">Korisnicko ime</th>
    <th class="th-style">Lozinka</th>
    <th class="th-style">Email</th>
    <th class="th-style">Izmena</th>
    <th class="th-style">Aktiviranje</th>
  </tr>

  <tr *ngFor="let item of users;">
    <td> {{item.username}}</td>
    <td> {{item.password}}</td>
    <td> {{item.email}} </td>
    <td ><button class="btn btn-lg btn-warning">Izmeni</button></td>
    <td ><button class="btn btn-lg btn-warning">Aktiviraj</button></td>
  </tr>

</table>

<table class="table offset-0 tables" style=" border: 3px solid #008080 ;" *ngIf="active">
  <tr>
    <th class="th-style">Korisnicko ime</th>
    <th class="th-style">Lozinka</th>
    <th class="th-style">Email</th>
    <th class="th-style">Izmena</th>
    <th class="th-style">Blokiranje</th>
  </tr>

  <tr *ngFor="let item of users;">
    <td> {{item.username}}</td>
    <td> {{item.password}}</td>
    <td> {{item.email}} </td>
    <td ><button class="btn btn-lg btn-warning">Izmeni</button></td>
    <td ><button class="btn btn-lg btn-warning">Blokiraj</button></td>
  </tr>

</table>
