<div>
  <div style=" display: inline-block;">
    <h1 style="font-size: 50px;margin-left: 50px;margin-bottom: 20px;color: #24478f ">Agent - Booking</h1>
  </div>

  <div style=" display: inline-block;">
    <h1 style="font-size: 50px;margin-bottom: 40px;color: #1a8cff">.com </h1>
  </div>


</div>

<ul>
  <li (click)="accomodationsClick()"><a>Smestajne jedinice</a></li>
  <li (click)="reservationsClick()"><a>Rezervacije</a></li>
  <li (click)="messageClick()"><a>Poruke</a></li>

</ul>

<div *ngIf="accomodations==true">
  <accomodations></accomodations>
</div>

<div *ngIf="reservations==true">
  <reservations></reservations>
</div>

<div *ngIf="message==true">
  <message></message>
</div>


