:host {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #24478f;
  }

  li {
    margin-left: 30px;
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-size: 26px;
    text-decoration: none;
  }

  li a:hover {
    cursor: pointer;
  }



}
