<button class="btn btn-lg btn-warning" (click)="add()">Dodaj kategoriju</button><br><br>

<table class="table offset-0 tables" style=" border: 3px solid #008080 ;">
  <tr>
    <th class="th-style">Naziv</th>
    <th class="th-style">Izmena</th>
    <th class="th-style">Brisanje</th>
  </tr>

  <tr *ngFor="let c of categories;">
    <td> {{c.name}}</td>
    <td><button class="btn btn-lg btn-warning" (click)="edit(c.id)">Izmeni</button></td>
    <td ><button class="btn btn-lg btn-warning" (click)="remove(c.id)">Obriši</button></td>
  </tr>

</table>
