<div>
  <div style=" display: inline-block;">
    <h1 style="font-size: 50px;margin-left: 50px;margin-bottom: 20px;color: #24478f ">Agent - Booking</h1>
  </div>

  <div style=" display: inline-block;">
    <h1 style="font-size: 50px;margin-bottom: 40px;color: #1a8cff">.com </h1>
  </div>

  <div style="background-color: #24478f;text-align: center">
    <p style="color: white;font-size:50px ">Komentari:</p>
  </div>


</div>

<div style="text-align: center">
  <button
    style="border-radius: 12px;background-color: #1a8cff;color: white;height: 45px;width: 110px;font-size: 20px" (click)="exit()">Nazad</button>
</div>


<div>
  <div *ngFor="let item of comments;">
    <div style="margin-top: 20px;border-style: solid;border-width: 2px;border-color: darkgray;margin-left: 20%;margin-right: 20%;background: #f2f2f2">
      <p style="margin-left: 15px;background: #f2f2f2"><b>Autor : {{item.nameOfUser}}</b></p>
      <div
        style="margin-top: 20px;border-top: solid;border-width: 2px;border-color: darkgray;">
        <p style="margin-left: 15px">{{item.text}}</p>
      </div>
      <br>
    </div>
    <br>
  </div>


</div>

