<div>

  <div style="text-align: center;margin-top: 30px">
    <button style="border-radius: 12px;background-color: #1a8cff;color: white;height: 45px;width: 250px;font-size: 20px"
            (click)="addReservations()">Dodaj rezervaciju
    </button>
  </div>
  <div style="margin-top: 20px;width: 35%;display: inline-block;margin-left: 10%;margin-right: 30px">
    <h3>Zauzeti termini:</h3>
    <table class="table tables" style=" border: 1px solid black ;">
      <tr>
        <th class="th-style">Smestajna jedinica:</th>
        <th class="th-style">Od:</th>
        <th class="th-style">Do:</th>
      </tr>

      <tr *ngFor="let p of periods;">
        <td>{{p.accomodation.name}}</td>
        <td>{{p.fromDate}}</td>
        <td>{{p.toDate}}</td>
      </tr>


    </table>
  </div>

  <div style="margin-top: 30px;width: 45%;display: inline-block">
    <h3>Rezervacije korisnika:</h3>
    <table class="table tables" style=" border: 1px solid black ;">
      <tr>
        <th class="th-style">Smestajna jedinica:</th>
        <th class="th-style">Od:</th>
        <th class="th-style">Do:</th>
        <th class="th-style">Korisnik:</th>
        <th class="th-style">Potvrdi rezervaciju:</th>
      </tr>

      <tr *ngFor="let r of reservations;">
        <td>{{r.period.accomodation.name}}</td>
        <td>{{r.period.fromDate}}</td>
        <td>{{r.period.toDate}}</td>
        <td>{{r.user.username}}</td>
        <td style="text-align: center"><button style="border-radius: 12px;background-color: #1a8cff;color: white;" *ngIf="r.confirmed == false" (click)="confirmeReservation(r.id)" id="{{r.id}}">Potvrdi </button></td>
      </tr>


    </table>
  </div>

</div>
