<br>
<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title"
            style="font-size:16px;display:inline-block;margin-top:2px">{{accomodation.name}}</span>
    </div>
  </p-header>
  <div class="ui-g">
    <div class="ui-g-12 ui-md-4">
      <img height="300" width="500" src="{{accomodation.image}}">
    </div>
    <div class="ui-g-12 ui-md-4 ui-md-offset-4">
      <datepicker></datepicker>

      <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [minDate]="minDate" [disabledDates]="invalidDates"
      [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" readonlyInput="true"  [showIcon]="true"></p-calendar>
      &nbsp;&nbsp;&nbsp;;&nbsp;;&nbsp;&nbsp;
      <button type="button" [disabled]="!datePicker.fromDate || !datePicker.toDate" (click)="showDialog()"
      pButton icon="pi pi-info-circle" label="Reserve"></button>

    </div>
  </div>
  <p-footer>


  <div class="ui-g">
    <div class="ui-g-6">
      Type: <b>{{accomodation.type.name}}</b>
    </div>
    <div class="ui-g-6">
      Location: <b>{{accomodation.address}},{{accomodation.city.name}},{{accomodation.city.country.name}}</b>
    </div>
    <div class="ui-g-6">
      Category: <b>{{accomodation.category.name}}</b>
    </div>
    <div class="ui-g-6">
      Capacity: {{accomodation.capacity}}<button pButton  icon="fa fa-user" ></button>
    </div>

    <div class="ui-g-12">
      Description: <b>{{accomodation.description}}</b>
    </div>

  </div>

    <div>
      <h2 style="margin-left: 15px">Komentari:</h2>
      <div *ngFor="let item of comms;">
        <div style="margin-top: 20px;border-style: solid;border-width: 2px;border-color: darkgray;">
          <p style="margin-left: 15px"><b>Autor : {{item.nameOfUser}}</b></p>
          <div
            style="margin-top: 20px;border-top: solid;border-width: 2px;border-color: darkgray;">
            <p style="margin-left: 15px">{{item.text}}</p>
          </div>
          <br>
        </div>
        <br>
      </div>

    </div>
  </p-footer>


</p-panel>

<p-dialog header="Reservation" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [width]="350"
          [minWidth]="200" [minY]="70" [baseZIndex]="10000">
    <span>
      You want to reserve accomodation <b>{{accomodation.name}}</b> for period {{fromDate ? dateToString(fromDate) : 'no date'}} - {{toDate ? dateToString(toDate) : 'no date'}}
      and price {{price}} ?
    </span>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="reserve()" label="Yes"></button>
    <button type="button" pButton icon="fa fa-close" (click)="closeDialog()" label="No"></button>
  </p-footer>
</p-dialog>
