<br>
<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">{{accomodation.name}}</span>
        </div>
    </p-header>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-4">
        <img height="300" width="500" src="{{accomodation.image}}">
      </div>
      <div class="ui-g-12 ui-md-4 ui-md-offset-4">
        <datepicker ></datepicker>
        <button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Reserve"></button>

      </div>
    </div>
    <p-footer>
      <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Type: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{accomodation.type.name}}</b></div>

          <div class="ui-g-2 ui-sm-6">Location: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{accomodation.address}},{{accomodation.city.name}},{{accomodation.city.country.name}}</b></div>
      </div>
    </p-footer>
</p-panel>

<p-dialog header="Reservation" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
    <span>
      You want to reserve accomodation <b>{{accomodation.name}}</b> for period {{fromDate ? dateToString(fromDate) : 'no date'}} - {{toDate ? dateToString(toDate) : 'no date'}} ?
    </span>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="reserve()" label="Yes"></button>
            <button type="button" pButton icon="fa fa-close" (click)="closeDialog()" label="No"></button>
        </p-footer>
</p-dialog>
